<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>In Vehicle Coupon Recommendation</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      select{
        width: 100px;
      }
      body{
        background-image: url("https://miro.medium.com/max/700/0*VquvEkwOj_e17vw6.jpg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      h1{
            text-align: center;
            font-size: 50px;
            color:orange
        }
        ul{
            list-style: none;
            background-color: white;
        }
        li{
            display: inline-block;
            margin: 10px;
            font-size: 30px;
            padding: 10px;
        }
        li:hover{
            background-color: orange;
        }
        a{
            text-decoration: none;
            color: black;
        }
        td{
          font-size: 18px;
        }
    </style>
  </head>
  
  <body>
    <!--nav bar-->
    <nav>
      <ul>
          <li><a href="/"><i class="fa fa-home"></i> Home</a></li>
          <li><a href="/projectdetails"><i class="fa fa-info-circle"></i> Project Details</a></li>
      </ul>
  </nav>
    <h1>In Vehicle Coupon Recommendation Prediction</h1>
    <form onsubmit="handleSubmit(event)">
    <table>
      <tr>
        <td>
        <h2>User Attribute</h2>
        </td>
      </tr>
      <tr>
        <td>Gender</td>
        <td>
          <select name="gender_male">
            <option value="1">Male</option>
            <option value="0">Female</option>
          </select>
        </td>
      </tr>
      
      <tr>
        <td>Education</td>
        <td>
          <select name="education">
            <option value="_Some college - no degree">Some college - no degree</option>
            <option value="_Associates degree">Associates degree</option>
            <option value="_High School Graduate">High School Graduate</option>
            <option value="_Graduate degree (Masters or Doctorate)">Graduate degree (Masters or Doctorate)</option>
            <option value="_Bachelors degree">Bachelors degree</option>
            <option value="_Some High School">Some High School</option>
          </select>
        </td>
      </tr>
        <td>Times respective coupon accepted</td>
        <td>
          <select name="coupon_freq">
            <option value="_never">never</option>
            <option value="_less1">Less than 1</option>
            <option value="1~3">1 to 3</option>
            <option value="_4~8">4 to 8</option>
            <option value="gt8">greater than 8</option>
          </select>
        </td>
      </tr>
    

    <tr>
      <td>
      <h2>Contextual Attribute</h2>
    </td>
    </tr>
      <tr>
        <td>Destination</td>
        <td>
          <select name="destination">
            <option value="_No Urgent Place">No Urgent Place</option>
            <option value="_Home">Home</option>
            <option value="_Work">Work</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Sunny Weather</td>
        <td><select name="weather">
            <option value="_Sunny">Sunny</option>
            <option value="_Snowy">Snowy</option>
            <option value="_Rainy">Rainy</option>
        </select></td>
      </tr>
      <tr>
        <td>Time</td>
        <td>
          <select name="time">
            <option value="1">1 AM</option>
            <option value="2">2 AM</option>
            <option value="3">3 AM</option>
            <option value="4">4 AM</option>
            <option value="5">5 AM</option>
            <option value="6">6 AM</option>
            <option value="_7AM">7 AM</option>
            <option value="8">8 AM</option>
            <option value="9">9 AM</option>
            <option value="_10AM">10 AM</option>
            <option value="11">11 AM</option>
            <option value="12">12 AM</option>
            <option value="1">1 PM</option>
            <option value="_2PM">2 PM</option>
            <option value="3">3 PM</option>
            <option value="4">4 PM</option>
            <option value="5">5 PM</option>
            <option value="_6PM">6 PM</option>
            <option value="7">7 PM</option>
            <option value="8">8 PM</option>
            <option value="9">9 PM</option>
            <option value="_10PM">10 PM</option>
            <option value="11">11 PM</option>
            <option value="12">12 PM</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Passenger</td>
        <td>
          <select name="passanger">
            <option value="-Friend(s)">Friend(s)</option>
            <option value="_Kid(s)">kids</option>
            <option value="_Partner">Partner</option>
            <option value="_Alone">Alone</option>
          </select>
        </td>
      </tr>
    

    <tr>
      <td>
      <h2>Coupon Attribute</h2>
    </td>
    </tr>
      <tr>
        <td>Is direction same?</td>
        <td><input type="checkbox"  name="direction_same" value="1"></td>
      </tr>
      <tr>
        <td>Coupon</td>
        <td>
          <select  name="coupon">
            <option value="_Coffee House" >Coffee House</option>
            <option value="_Restaurant(20)">Resturant less than 20$</option>
            <option value="_Carry out & Take away">Carry out & Take away</option>
            <option value="_Restaurant(20,50)">Resturant 20$ to 50$ </option>
            <option value="_Bar">Bar</option>
          </select>
        </td>
      </tr>
      <tr>
        <td>Expiration</td>
        <td>
          <select  name="expiration_2h">
            <option value="1">2 hour</option>
            <option value="0">1 day</option>
          </select>
        </td>
      </tr>
    </table>
    <button type="submit">Submit</button>
    </form>
    <script>
      function handleSubmit(event) {
        event.preventDefault();
        const data = new FormData(event.target);
        var url = "/result";
        fetch(url, {
          method: 'POST',
          body: data,
        }).then((response) => {
          return response.json();
        }).then((data) => {
          alert("Customer will "+toUnicodeVariant(data.alert, 'bold sans', 'bold'));
        }).catch((error) => {
          console.error('Error:', error);
        });
      }
      function toUnicodeVariant(str, variant, flags) {
    const offsets = {
        m: [0x1d670, 0x1d7f6],
        b: [0x1d400, 0x1d7ce],
        i: [0x1d434, 0x00030],
        bi: [0x1d468, 0x00030],
        c: [0x1d49c, 0x00030],
        bc: [0x1d4d0, 0x00030],
        g: [0x1d504, 0x00030],
        d: [0x1d538, 0x1d7d8],
        bg: [0x1d56c, 0x00030],
        s: [0x1d5a0, 0x1d7e2],
        bs: [0x1d5d4, 0x1d7ec],
        is: [0x1d608, 0x00030],
        bis: [0x1d63c, 0x00030],
        o: [0x24B6, 0x2460],
        p: [0x249C, 0x2474],
        w: [0xff21, 0xff10],
        u: [0x2090, 0xff10]
    }

    const variantOffsets = {
        'monospace': 'm',
        'bold': 'b',
        'italic': 'i',
        'bold italic': 'bi',
        'script': 'c',
        'bold script': 'bc',
        'gothic': 'g',
        'gothic bold': 'bg',
        'doublestruck': 'd',
        'sans': 's',
        'bold sans': 'bs',
        'italic sans': 'is',
        'bold italic sans': 'bis',
        'parenthesis': 'p',
        'circled': 'o',
        'fullwidth': 'w'
    }

    // special characters (absolute values)
    var special = {
        m: {
            ' ': 0x2000,
            '-': 0x2013
        },
        i: {
            'h': 0x210e
        },
        g: {
            'C': 0x212d,
            'H': 0x210c,
            'I': 0x2111,
            'R': 0x211c,
            'Z': 0x2128
        },
        o: {
            '0': 0x24EA,
            '1': 0x2460,
            '2': 0x2461,
            '3': 0x2462,
            '4': 0x2463,
            '5': 0x2464,
            '6': 0x2465,
            '7': 0x2466,
            '8': 0x2467,
            '9': 0x2468,
        },
        p: {},
        w: {}
    }
    //support for parenthesized latin letters small cases 
    for (var i = 97; i <= 122; i++) {
        special.p[String.fromCharCode(i)] = 0x249C + (i - 97)
    }
    //support for full width latin letters small cases 
    for (var i = 97; i <= 122; i++) {
        special.w[String.fromCharCode(i)] = 0xff41 + (i - 97)
    }

    const chars = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz';
    const numbers = '0123456789';

    var getType = function (variant) {
        if (variantOffsets[variant]) return variantOffsets[variant]
        if (offsets[variant]) return variant;
        return 'm'; //monospace as default
    }
    var getFlag = function (flag, flags) {
        if (!flags) return false
        return flags.split(',').indexOf(flag) > -1
    }

    var type = getType(variant);
    var underline = getFlag('underline', flags);
    var strike = getFlag('strike', flags);
    var result = '';

    for (var k of str) {
        let index
        let c = k
        if (special[type] && special[type][c]) c = String.fromCodePoint(special[type][c])
        if (type && (index = chars.indexOf(c)) > -1) {
            result += String.fromCodePoint(index + offsets[type][0])
        } else if (type && (index = numbers.indexOf(c)) > -1) {
            result += String.fromCodePoint(index + offsets[type][1])
        } else {
            result += c
        }
        if (underline) result += '\u0332' // add combining underline
        if (strike) result += '\u0336' // add combining strike
    }
    return result
}

    </script>
  </body>

</html>
